*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
01_input_data/AR6_Scenarios_Database_World_v1.0.csv
01_input_data/AR6_Scenarios_Database_R10_regions_v1.0.csv
01_input_data/AR6_Scenarios_Database_metadata_indicators_v1.0.xlsx
01_input_data/iamc15_scenario_data_world_r2.0.xlsx
01_input_data/sr15_metadata_indicators_r2.0.xlsx